#
# AWTK GUI Demo Kconfig
#

menu "AWTK GUI Demo Menu"

choice
    prompt "awtk demo choice"
    depends on AWTK
    default AWTK_UNK_TEST

    config AWTK_UI_DEMO
        bool "awtk ui demo"

    config AWTK_DESKTOP_DEMO
        bool "awtk desktop demo"

    config AWTK_ANIMATOR_DEMO
        bool "awtk animator demo"

    config AWTK_UNK_TEST
        bool "awtk unknown test"

endchoice

endmenu
