#
# GUI Kconfig
#

menu "embedded gui"

config GUI
    bool "use embedded gui"
    default n
    help
      gui

config DRM_DISP_DRIVER
    bool "Direct Rendering Manger display driver"
    select LIBDRM
    depends on GUI
    default n
    help
      DRM display driver

config FBDEV_DISP_DRIVER
    bool "framebuffer display driver"
    depends on GUI
    default n
    help
      framebuffer display driver

config X11_DISP_DRIVER
    bool "x11 window display driver"
    depends on GUI && LINUX_GNU
    default n
    help
      x11 window display driver

config WAYLAND_DISP_DRIVER
    bool "wayland display driver"
    depends on GUI
    default n
    help
      wayland display driver

source "project/gui/lvgl/Kconfig"
source "project/gui/awtk/Kconfig"
source "project/gui/azure/Kconfig"

endmenu
