#
# host libdrm unittest Kconfig
#

menu "host libdrm unittest menu"

config HOST_UNITTEST_LIBDRM
    bool "host libdrm unittest"
    select LIBDRM
    default n
    help
      host libdrm unittest

choice
    prompt "host libdrm unittest demo"
    depends on X86_64 && UNITTEST && HOST_UNITTEST_LIBDRM
    default HOST_LIBDRM_UNKNOWN

    config HOST_LIBDRM_DISP
        bool "host libdrm display unittest demo"
        select MEDIA_API

    config HOST_LIBDRM_UNKNOWN
        bool "host libdrm unittest unknow demo"

endchoice

endmenu
