#
# host signal-slot unittest Kconfig
#

menu "host signal-slot unittest menu"

config HOST_UNITTEST_SIGSLOT
    bool "host signal slot unittest"
    default n
    help
      host signal slot unittest

choice
    prompt "host signal-slot unittest demo"
    depends on X86_64 && UNITTEST && HOST_UNITTEST_SIGSLOT
    default HOST_SIGSLOT_UNKNOWN

    config HOST_SIGNAL_SLOTS
        bool "host signal slots unittest demo"

    config HOST_SIGSLOT_UNKNOWN
        bool "host signal-slot unittest unknow demo"

endchoice

endmenu
