#
# boost unittest Kconfig
#

menu "host boost unittest menu"

config HOST_UNITTEST_BOOST
    bool "host boost unittest"
    default n
    help
      host boost unittest

choice
    prompt "host boost unittest demo"
    depends on X86_64 && UNITTEST
    default HOST_LIBDRM_UNKNOWN

    config HOST_BOOST_SIGNAL_SLOTS
        bool "host boost unittest signal slots demo"

    config HOST_BOOST_UNKNOWN
        bool "host boost unittest unknow demo"

endchoice

endmenu
