#
# Project unitTest Kconfig
#

menu "platform unittest"

config UNITTEST
    bool "platform unittest"
    default n
    help
        Enable platform unittest.

source "project/unittest/host/Kconfig"
source "project/unittest/rockchip/Kconfig"

endmenu
