#
# live555 Kconfig
#

menu "live555 Examples"

config HOST_UNITTEST_LIVE555
    bool "host live555 unittest"
    default n
    help
      host live555 unittest

choice
    depends on X86_64 && UNITTEST && HOST_UNITTEST_LIVE555
    prompt "host live555 unittest demo"
    default HOST_LIVE555_UNK

    config HOST_LIVE555_RTSP_CLIENT
        bool "RTSP Client"
        select LIVE555

    config HOST_LIVE555_RTSP_SERVER
        bool "RTSP Server"
        select LIVE555

    config HOST_LIVE555_UNK
        bool "Unknown"

endchoice

endmenu
